#about {
	float: left;
	width: 74%;
}
#about_right {
	float: left;
	width: 26%;
}
#about_Nav {
	width: 240px;
	margin: 0 auto;
}
#notice {
	width: 240px;
	background: url("../image/news/notic_bg.jpg");
	height: 246px;
	margin: 10px auto;
}
#text li{
	background:no-repeat url("../image/news/icon2.png") 0 7px;
	padding-left: 10px;
	line-height: 20px;
}
#text a{
	/*color: #E47827;*/
	color:#3A8195;
}
#text a:hover{
	color:#FF8200;
}
#about_Nav ul{
	background: #F3F3F3;
}
.now{
	background: #40A7C8;
}
#about_Nav ul li{
	height:35px;
	margin-top: 3px;
}
#about_Nav ul li a{
	display: block;

	height: 100%;
	line-height: 35px;
	position: relative;
	padding-left: 55px;
	font-size:13px;
	color:#6D6D6D;
}
#about_Nav ul li a img{
	position: absolute;
	left: 25px;
	top:6px;

}
#about_Nav .now a{
	color:white;
}
