.col1 {
	width:173px;
}

.col1, .col3 {
	margin-top: 8px;
	display: inline;
	float: left;
}

.col2 {
	display: inline;
	float: left;
    margin-top: 8px;
    margin-left: 8px;
    width: 797px;
}

* {
	margin: 0;
	padding: 0;
}

.box1, .box3 {
	background: #dcf5d7;
}

.title1 {
	display: block;
	text-indent: -9999px;
	background: url(../image/class/title1.jpg) no-repeat 7px 2px;
	line-height: 35px;
}

.speClatitle {
	display: block;
	text-indent: -9999px;
	background: url(../image/class/speciallogo2.gif) no-repeat 7px 2px;
	line-height: 35px;
}


.box1 .inner {
	height: 742px;
	border-color: #b1e9a8;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	zoom: 1;
}

.inner {
	padding: 5px;
	zoom:1;
}

.box {
	padding: 5px;
	border: 1px solid #c0e0e0;
	border-top: none;
	margin: 6px auto;
	border: 1px solid #b1e9a8;
	background: snow;
	padding: 0 0 5px 0;
	height: 650px;
}

.allsort {
	z-index: 11;
	float: left;
	position: relative;
	width: 100%;
}

.allsort .mt {
	background: #e8f7d4;
	height: 30px;
	line-height: 30px;
	color: #4a8221;
	font-weight: 700;
	padding-left: 60px;
	margin-bottom: 5px;
}

.allsort .mc {
	overflow: visible;
	width: 100%;
	position: relative;
	z-index: 1;
	background: #fff;
}

.left-name {
	float: left;
	width: 36px;
	padding-left: 3px;
}

.right-subject {
	margin-left: 47px
}


.col2-3 {
width: 820px;
//float: right;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

body, ul, ol, em, i, h1, h2, h3, h4, li, form, label, input, p, dl, dt, dd {
font-size: 12px;
font-family: Verdana,Tahoma,Arial,sans-serif,\5b8b\4f53;
color: #666;
line-height: 24px;
}

.container {
width: 610px;
height: 600px;
_width: 598px;
margin: 5px auto;
overflow: hidden;
zoom: 1;
}

.item {
width: 300px;
_width: 294px;
float: left;
margin-left: 5px;
margin-top: 4px;
margin-bottom: 5px;
display: inline;
}
.item {
overflow: hidden;
}
.pict-lr {
overflow: hidden;
margin-top: 40px;
}
user agent stylesheetdiv {
display: block;
}
Inherited from div#searchResult.container
.container {
zoom: 1;
}

.item .pic {
background: url(../image/class/book-bg.jpg) no-repeat left top;
width: 102px;
margin-right: 5px;
display: block;
}
.pict-lr .pic {
float: left;
display: block;
margin-right: 5px;
}
.box10 .item .pic a {
margin-bottom: 10px;
}
.item .pic img {
padding: 2px 1px 10px 4px;
}
a:visited {
text-decoration: none;
}
strong, b {
font-weight: bold;
}


.allsort .mt {
    background: none repeat scroll 0 0 #E8F7D4;
    color: #4A8221;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding-left: 60px;
}

.box1 .inner {
    border-color: #B1E9A8;
    border-style: solid;
    border-width: 0 1px 1px;
    height: 662px;
}
.inner {
    padding: 5px;
}

.box1 h3 {
    background: url("../image/class/cmt.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    height: 35px;
}

.teachers {
	border: 1px solid #BFD9F2;
	width: 790px;
}

.col1-2 {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    width: 790px;
}

.selected {
    /*background: none repeat scroll 0 0 #FFFAFA;*/
    border-color: #B1E9A8;
    border-style: solid;
    border-width: 1px 1px 0;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #FFFFFF;
}

.noBgImg {
	background: none repeat scroll 0 0 #FFFAFA;
}

.bgImg {
	background: url("../image/class/tab-bg.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
}

.noSelected {
    /*background: url("../image/class/tab-bg.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);*/
    border-color: #B1E9A8;
    border-style: solid;
    border-width: 1px 1px 0;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.idTabs ul {
    overflow: hidden;
    position: relative;
    top: 5px;
}

.idTabs li {
    float: left;
    margin-right: 3px;
    width: 99px;
}

.idTabs {
	border: 1px solid #BFD9F2;
	width: 797px;
	height: 706px; 
	padding-right: -4px;
}

li {
    list-style: none outside none;
}

ul li {
    line-height: 25px;
}

.box2 {
	background-color: #DCF5D7;
}


#window
{
	position: absolute;
	left: 200px;
	top: 100px;
	width: 400px;
	/*height: 300px;*/
	overflow: hidden;
	/*display: none;*/
}
#windowTop
{
	height: 30px;
	overflow: 30px;
	background-image: url(../image/class/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
#windowTopContent
{
	margin-right: 13px;
	background-image:url(../image/class/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;	
	color: #6caf00;
}
#windowMin
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
#windowMax
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
#windowClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#windowBottom
{
	position: relative;
	height: 270px;
	background-image: url(../image/class/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottomContent
{
	position: relative;
	height: 270px;
	background-image: url(../image/class/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}
#windowContent
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #6caf00;
	height: 255px;
	width: 375px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
}
#windowContent *
{
	margin: 10px;
}