<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 引入系统配置文件 -->
	<bean id="propertiesConfigure"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:sysconfig.properties</value>
				<value>classpath:localdata.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 引入其他配置文件 -->
	<import resource="classpath:applicationContext-hibernate.xml"/>
	<import resource="classpath:applicationContext-dao.xml"/>
	<import resource="classpath:applicationContext-action.xml"/>
	<import resource="classpath:applicationContext-other.xml"/>
</beans>