<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="loginAction" class="com.zhaoyang.action.LoginAction" scope="prototype">
	</bean>
	<bean id="newsMngAction" class="com.zhaoyang.action.NewsMngAction" scope="prototype">
		<property name="newsDao" ref="newsDao"></property>
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
	</bean>
	
	<bean id="newsSettingAction" class="com.zhaoyang.action.NewsSettingAction" scope="prototype">
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="uploadPicAction" class="com.zhaoyang.action.UploadPicAction" scope="prototype">
	</bean>
	<bean id="schoolSettingAction" class="com.zhaoyang.action.SchoolSettingAction" scope="prototype">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="conditionSettingAction" class="com.zhaoyang.action.ConditionSettingAction" scope="prototype">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	
	<bean id="addressSettingAction" class="com.zhaoyang.action.AddressSettingAction" scope="prototype">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="downloadMngAction" class="com.zhaoyang.action.DownloadMngAction" scope="prototype">
		<property name="downloadDao" ref="downloadDao"></property>
		<property name="ruleDao" ref="ruleDao"></property>
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
	</bean>
	<bean id="noticeMngAction" class="com.zhaoyang.action.NoticeMngAction" scope="prototype">
		<property name="noticeDao" ref="noticeDao"></property>
		<property name="ruleDao" ref="ruleDao"></property>
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
	</bean>
	<bean id="recruitmentMngAction" class="com.zhaoyang.action.RecruitmentMngAction" scope="prototype">
		<property name="noticeDao" ref="noticeDao"></property>
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="otherMngAction" class="com.zhaoyang.action.OtherMngAction" scope="prototype">
		<property name="ruleDao" ref="ruleDao"></property>
		<property name="tailLinkDao" ref="tailLinkDao"></property>
	</bean>
	<bean id="indexSettingAction" class="com.zhaoyang.action.IndexSettingAction" scope="prototype">
		<property name="indexImgLoopDao" ref="indexImgLoopDao"></property>
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="pagesGenerateAction" class="com.zhaoyang.action.PagesGenerateAction" scope="prototype">
		<property name="newsDao" ref="newsDao"></property>
		<property name="subjectDao" ref="subjectDao"></property>
	</bean>
	<bean id="peoplesMngAction" class="com.zhaoyang.action.PeoplesMngAction" scope="prototype">
		<property name="teacherDao" ref="teacherDao"></property>
		<property name="studentDao" ref="studentDao"></property>
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<!-- coolBean start -->
	<bean id="subjectMngAction" class="com.zhaoyang.action.SubjectMngAction" scope="prototype">
		<property name="subjectDao" ref="subjectDao"></property>
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
	</bean>
	<bean id="zyClassMngAction" class="com.zhaoyang.action.ZYClassMngAction" scope="prototype">
		<property name="zyClassDao" ref="zyClassDao"></property>
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
	</bean>
	<!-- coolBean end -->
	
	<bean id="systemMngAction" class="com.zhaoyang.action.SystemMngAction" scope="prototype">
		<property name="sysConfigParameter" ref="sysConfigParameter"></property>
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	
	<bean id="generateWebsiteAction" class="com.zhaoyang.action.GenerateWebsiteAction" scope="prototype">
	</bean>
</beans>