<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="newsDao" class="com.zhaoyang.dao.NewsDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ruleDao" class="com.zhaoyang.dao.RuleDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="downloadDao" class="com.zhaoyang.dao.DownloadDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="noticeDao" class="com.zhaoyang.dao.NoticeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="teacherDao" class="com.zhaoyang.dao.TeacherDao">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="studentDao" class="com.zhaoyang.dao.StudentDao">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<bean id="indexImgLoopDao" class="com.zhaoyang.dao.IndexImgLoopDao">
		<property name="ruleDao" ref="ruleDao"></property>
	</bean>
	<!-- coolBean start -->
	<bean id="subjectDao" class="com.zhaoyang.dao.SubjectDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="zyclassDao" class="com.zhaoyang.dao.ZYClassDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="subjectDao" ref="subjectDao"></property>
	</bean>
	
	<!-- coolBean end -->
</beans>